/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* comomn css */
body {
    font-family: "Inter", sans-serif;
}

.btn {
    padding: 12.5px 16px;
    background-color: #469165;
    border: none;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.btn:hover {
    box-shadow: 2px 2px 5px #469165;
    border: 1px solid #469165;
    background-color: #fff;
    color: #469165;
}


/* nav section */
nav {
    width: 85%;
    max-width: 1360px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav .menu ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
}




/* hero button online symbol  styling*/
.online {
    width: 16px;
    height: 16px;
    position: relative;
    
}
#hero-container .hero-content .online .r1 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(70, 145, 101, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    
}
#hero-container .hero-content .online .r2 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(70, 145, 101, 0.6);
    position: absolute;
    top: 2px;
    left: 2px;
}
#hero-container .hero-content .online .r3 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(70, 145, 101, 1);
    position: absolute;
    top: 5px;
    left: 5px;
}
/* hero button online symbol  styling*/



/* hero section */
#hero-container {
    background: url(./Resource/assets/hero-bg.png), no-repeat;
    padding: 115px 0 180px 0;
}

#hero-container .hero-content {
    width: 85%;
    max-width: 1360px;
    margin: auto;
}

#hero-container .hero-content * {
    margin: auto;
    text-align: center;
}

#hero-container .hero-content #hero-top {
    display: flex;
    gap: 6px;
    padding: 8px;
    border-radius: 50px;
    border: none;
    color: rgba(70, 145, 101, 1);
}

#hero-container .hero-content #hero-top:hover {
    border: 2px solid rgba(70, 145, 101, 1);
}

#hero-container .hero-content h2 {
    margin: 16px 0;
    color: #fff;
    font-size: 72px;
    font-weight: 700;
}

#hero-container .hero-content h2 span {
    color: rgba(48, 184, 104, 1);
}

#hero-container .hero-content p {
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
    font-size: 18px;
}

#hero-container .hero-content .hero-btns {
    display: flex;
    gap: 16px;
    width: 34%;
    max-width: 465px;
    font-weight: 600;
}

#hero-container .hero-content .hero-btns #btn-left:hover img {
    background-color: #469165;
    border-radius: 50%;
    margin-left: 5px;
}

#hero-container .hero-content .hero-btns #btn-left img {
    margin-left: 10px;
}

#hero-container .hero-content .hero-btns #btn-right {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 14px;
    border-radius: 4px;
}

#hero-container .hero-content .hero-btns #btn-right i {
    margin-right: 10px;
}

#hero-container .hero-content .hero-btns #btn-right:hover {
    background-color: #469165;
    /* box-shadow: 5px 5px 5px #fff; */
}



/* notes section */
#notes {
    width: 85%;
    max-width: 1360px;
    margin: auto;
}

#notes .note-content {
    text-align: center;
    padding-top: 68px;
}

#notes .note-content h2 {
    font-size: 48px;
    margin-bottom: 16px;
}

#notes .note-content p {
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
}

#notes .note-cards {
    display: flex;
    gap: 24px;
}

#notes .note-card .card {

}

#notes .note-cards .card .img {
    background: rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 70px auto 16px auto;
    display: flex;

    

}

#notes .note-cards .card .img img {
    display: block;
    margin: auto;
}

#notes .note-cards .card .card-content {
    text-align: center;
}

#notes .note-cards .card .card-content p {
    margin: 16px 0 20px 0;
    color: rgba(98, 115, 130, 1);
}


/* second brain section */
#brain {
    width: 85%;
    max-width: 1360px;
    display: flex;
    gap: 60px;
    margin: 120px auto;
}

#brain .brain-content {
    margin: auto auto;
}

#brain .brain-content h2 {
    margin: 16px 0;
    font-size: 48px;
}

#brain .brain-content p {
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
    margin-bottom: 40px;
}

#brain .brain-content ul {
    list-style-type: none;
}

#brain .brain-content ul li {
    margin-bottom: 16px;
    display: flex;
    gap: 6px;

}

#brain .brain-content ul li img {
    display: block;
    margin-right: ;
}


/* early access section */
#e-access {
    width: 85%;
    max-width: 1360px;
    margin: auto;
    padding: 80px 0;
}

#e-access * { 
    text-align: center;
}

#e-access .content {
    margin: 0 0 24px 0;
}

#e-access .content h2 {
    font-size: 40px;
}

#e-access p {
    margin-top: 16px;
    color: rgba(98, 115, 130, 1);
}

#e-access .btn-content button:hover img {
    background-color: #469165;
    border-radius: 50%;
    margin-left: 5px;

}



/* footer section */
footer {
    background-color: rgba(0, 25, 49, 1);
}

#footer-container {
    width: 85%;
    max-width: 1360px;
    padding: 120px 0 0 0;
    margin: auto;
    /* border: 1px solid red; */
}

#footer-container .top-footer {
    margin: 120px 0 80px 0;
    display: flex;
    justify-content: space-between;
}

#footer-container .top-footer .social-links {
   margin-right: 128px;

}

#footer-container .top-footer .social-links .all-icons {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

#footer-container .top-footer .social-links .all-icons .icon{
    background-color: #fff;
    border-radius: 50%;
    
}

#footer-container .bottom-footer {
    color: rgba(250, 250, 250, 1);
    text-align: center;
    padding: 30px 0; 
    border-top: 1px solid rgba(229, 231, 235, 1);
} 

